<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs',{meta:data.pageMeta[page]}); %>

<body data-barba="wrapper">
  <div class="common-transition">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
  </div>
  <div id="common-wrapper" class="common-wrapper">
    <div class="container" data-barba="container" data-barba-namespace="<%- page %>">
      <%- include('../includes/_header.ejs',{meta:data.pageMeta[page]}); %>
      <%- include('./_main-about.ejs',{meta:data.pageMeta[page]}); %>
      <%- include('../includes/_footer.ejs',{meta:data.pageMeta[page]}); %>
    </div>
  </div>
  <script src="../assets/js/vendors.bundle.js"></script>
  <script src="../assets/js/index.bundle.js"></script>
</body>

</html>